In [3]:
import pandas as pd
import numpy as np

C:\Users\Admin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
%cd C:\Users\Admin\Location to pincode mapping\Pin code workings

C:\Users\Admin\Location to pincode mapping\Pin code workings

In [5]:
table1 = pd.read_csv('locality_lat_long_master.csv',encoding='latin-1')
table1.head()

                                 locality   latitude  longitude
0                                  Nawada  28.624157  77.036702
1                      Sector 57, Gurgaon  28.423441  77.076593
2                        Bara Tooti Chowk  28.658524  77.212699
3  Kurmaguda, Hyderabad, Telangana, India  17.362564  78.500056
4                               Sector 42  28.468788  77.296542

In [6]:
table2 = pd.read_csv('pin_code_lat_long_master.csv',encoding='latin-1')
table2.head()

   Pincode  Latitude  Longitude
0   691308   8.06000   77.28000
1   629702   8.08000   77.53000
2   629702   8.08367   77.54931
3   629602   8.09000   77.48000
4   744303   8.09687   93.51756

In [7]:
table2['Latitude'] = table2['Latitude'].astype(float)
table2['Latitude'] = table2['Latitude'].astype(float)

In [8]:
# Function to calculate the Euclidean distance
def euclidean_distance(row1, row2):
    return np.sqrt((row1['latitude'] - row2['Latitude'])**2 + (row1['longitude'] - row2['Longitude'])**2)

# Initialize list to hold the minimum distance records
min_distance_records = []

# Loop over each record in Table 1
for i, row1 in table1.iterrows():
    # Calculate distance to all records in Table 2
    distances = table2.apply(lambda row2: euclidean_distance(row1, row2), axis=1)
    # Find the index of the minimum distance
    min_index = distances.idxmin()
    # Append the record with minimum distance to the list
    min_distance_records.append(table2.loc[min_index])

# Create a DataFrame from the list of minimum distance records
min_distance_df = pd.DataFrame(min_distance_records).reset_index(drop=True)

# Concatenate the original Table 1 with the corresponding nearest records from Table 2
result = pd.concat([table1, min_distance_df], axis=1)
#result.columns = ['x1', 'y1', 'nearest_x2', 'nearest_y2']

print(result.head())

                                 locality   latitude  longitude   Pincode  \
0                                  Nawada  28.624157  77.036702  110059.0
1                      Sector 57, Gurgaon  28.423441  77.076593  122003.0
2                        Bara Tooti Chowk  28.658524  77.212699  110006.0
3  Kurmaguda, Hyderabad, Telangana, India  17.362564  78.500056  500059.0
4                               Sector 42  28.468788  77.296542  121009.0

   Latitude  Longitude
0  28.62150   77.04153
1  28.44650   77.07362
2  28.65942   77.21306
3  17.35628   78.50506
4  28.48811   77.29458

In [9]:
result.to_csv('result.csv')